/* reset defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
:root {
  /* --primary: #b9540c93; */
  /* B9540C */
  /* --primary: #331C0E; */
  --bg-primary: #2A2A2A;
  --yellow: #FDCA40;
}

body {
  font-family: Poppins;
  width: 100%;
}

button, input {
  font-family: inherit;
}

.container {
  padding: 2rem 2rem;
}

.section {
  background: var(--bg-primary);
}